node_modules
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

.env
.env.*

.git
.gitignore

Dockerfile
.dockerignore

logs
*.log
tmp
coverage
dist
build

.vscode
.idea
.DS_Store

test
tests
__tests__

README.md
README

